@import "~materialize-css/dist/css/materialize.css";

#react-nav {
    nav {
        background: #057fee;
    }
}

#rainbow {
    background: #057fee;
    background: -moz-linear-gradient(top,
            rgba(255, 0, 0, 1) 0%,
            rgba(255, 255, 0, 1) 15%,
            rgba(0, 255, 0, 1) 30%,
            rgba(0, 255, 255, 1) 50%,
            rgba(0, 0, 255, 1) 65%,
            rgba(255, 0, 255, 1) 80%,
            rgba(255, 0, 0, 1) 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom,
            color-stop(0%, rgba(255, 0, 0, 1)),
            color-stop(15%, rgba(255, 255, 0, 1)),
            color-stop(30%, rgba(0, 255, 0, 1)),
            color-stop(50%, rgba(0, 255, 255, 1)),
            color-stop(65%, rgba(0, 0, 255, 1)),
            color-stop(80%, rgba(255, 0, 255, 1)),
            color-stop(100%, rgba(255, 0, 0, 1))) !important;

}

#react-main {
    .git-link {
        text-align: center;
        display: block;
        margin: 15px 0px 0 0;
    }

    .want-rainbow {
        width: 200px;
        right: 0;
        position: absolute;
        top: 0;
    }

    @media (max-width: 760px) {
        .want-rainbow {
            position: relative;
            display: block;
            width: auto;
        }
    }

    .btn-play {
        margin: 0px auto;
        display: block;
        font-size: 22px;
        width: 220px;
        height: 50px;
        background: #057fee;
        position: relative;

        .preloader-wrapper {
            top: 10px;
            position: absolute;
            right: -50px;
        }
    }

    .leaders-table {
        .me {
            background: #057fee;
            color: white;
        }
    }

    .wrapper-search {
        display: block;
        margin: 50px 0;

        position: relative;
    }

    .chat-window {
        height: 450px;
        overflow-y: scroll;
        padding-right: 20px;

        .msg.my {
            text-align: right;
        }
    }

    .chat-form {
        background: white;

        button {
            background: #057fee !important;
        }
    }
}

#react-login {
    padding-top: 100px;

    .input-field {
        input {
            border-color: #057fee;
        }

        label {
            color: #057fee;
        }

    }

    .login {
        background-color: #057fee;
    }

    .register {
        color: #057fee;
        margin-top: 10px;
    }
}

#react-register {
    padding-top: 100px;

    .input-field {
        input {
            border-color: #057fee;
        }

        label {
            color: #057fee;
        }

    }

    .register {
        background: #057fee;
    }
}

#react-game {
    .card-filed {
        width: 350px;
        height: 350px;
        display: block;
        margin: 0 auto;
    }

    .table-field {
        width: 350px;
        height: 350px;
        display: block;
        margin: 0 auto;

        td {
            cursor: pointer;
            padding: 0;
            text-align: center;
            line-height: 70px;
            width: 70px;
            height: 70px;
            display: inline-block;
            vertical-align: middle;
        }

        &.my-field {
            td.done {
                color: white;
                background: #057fee;
            }
        }

        &.his-field {
            td.done {
                color: black;
                background: #f12734;
            }
        }
    }

    .preloader-wrapper {
        margin: -25px auto 25px auto;
        display: block;
    }
}
